{% extends "_base.html" %}

{% block title %}Rizzder - About{% endblock %}

{% block content %}
    
    <div class="container mt-5">
        <div class="text-center">
            <span style="font-size: 80px; color: #ff0000;">Love is in the air 
                <i class="fa fa-heart" style="font-size: 80px; color:#ff0000">
                </i>
            </span>
        
        </div>
    </div>
    
    <br>
    <div class="container mt-5">
        <div class="text-center">
            <h1 style="font-size: 35px; color: #cc3636;"><b>Want to know more about us? Here we go</b></h1>
        </div>
    </div>
    <br><br>
    <div class="container mt-2">
        <div class="text-left">
            <h2 style="font-size: 30px; color: #cc3636;"><b><i>Who are we?</i></b></h2>
            <p style="font-size: 20px; color: #ff3333;">
                <i class="fa fa-heart" style="font-size: 17px; color: #ff3333"></i>
                    We are a group of software developers interested in web and <b>love</b>.
            </p>
        </div>
    </div>
    
    <div class="container mt-2">
        <div class="text-left">
            <h2 style="font-size: 30px; color:#cc3636;"><b><i>Why is this app better than other dating apps?</i></b></h2>
            <p style="font-size: 20px; color: #ff3333;">
                <i class="fa fa-heart" style="font-size: 17px; color: #ff3333"></i>
                    We try our best to match you with your soulmate and not waste your time and money. 
            </p>
        </div>
    </div>
    
    <div class="container mt-2">
        <div class="text-left">
            <h2 style="font-size: 30px; color:#cc3636;"><b><i>Is this application free?</i></b></h2>
            <p style="font-size: 20px; color: #ff3333;">
                <i class="fa fa-heart" style="font-size: 17px; color: #ff3333"></i>
                    Yes, just like Smiley said: <i>Love is for free</i>.
            </p>
        </div>
    </div>
    
    <div class="container mt-2">
        <div class="text-left">
            <h2 style="font-size: 30px; color:#cc3636;"><b><i>Is there a premium version of this application?</i></b></h2>
            <p style="font-size: 20px; color: #ff3333;">
                <i class="fa fa-heart" style="font-size: 17px; color: #ff3333"></i>
                    No, since we believe love shouldn't be associated with money.
            </p>
        </div>
    </div>
    
    <div class="container mt-2">
        <div class="text-left">
            <h2 style="font-size: 30px; color: #cc3636;"><b><i>Is my personal data safe?</i></b></h2>
            <p style="font-size: 20px; color: #ff3333;">
                <i class="fa fa-heart" style="font-size: 17px; color: #ff3333"></i>
                    Yes, as long as you behave properly on the platform.
            </p>
        </div>
    </div>
    
    <br><br>
    
    <div class="location-page">
        
        <div class="location-container">
            <iframe src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d214.82077791695005!2d26.047786359641805!3d44.43654522504308!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zNDTCsDI2JzExLjgiTiAyNsKwMDInNTIuNiJF!5e0!3m2!1sro!2sro!4v1735485875838!5m2!1sro!2sro&amp;ouptut=embed&amp;iwloc=0" width="400" height="250" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
    
    <div class="text-center">
            <h3 class="location-heading" style="font-size: 25px; color:#ff0000"> 
                <i class="fa fa-building" style="font-size: 15px; color:#ff0000"></i>
                Our HQ location
                <i class="fa fa-building" style="font-size: 15px; color:#ff0000"></i>
            </h3>
    </div>
    
    <br><br>
    <div class="container mt-2">
        <div class="text-center">
            <h1 style="font-size: 45px; color:#cc3636">Contact us</h1>
                <p style="font-size: 20px">
                    <i class="fa fa-envelope" style="font-size: 17px; color:#ff0000"></i>
                        <a href="mailto:tecef43013@pofmagic.com"> 
                            Email 
                        </a>
                </p>
            
                <p style="font-size: 20px">
                    <i class="fa fa-phone" style="font-size: 17px; color:#ff0000"></i>
                        (+40)756 193 429
                </p>
        </div>
    </div>
    
    
{% endblock %}